// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "SF Pro Display Regular", "sans-serif";
$headers-font: "SF Pro Display Semibold", "sans-serif";
$title-font: "SF Pro Display Medium", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
   font-family: 'SF Pro Display Semibold';
   src: asset-url('SF-Pro-Display-Semibold.otf')
}

@font-face {
   font-family: 'SF Pro Display Regular';
   src: asset-url('SF-Pro-Display-Regular.otf')
}

@font-face {
   font-family: 'SF Pro Display Medium';
   src: asset-url('SF-Pro-Display-Medium.otf')
}

@font-face {
   font-family: 'SF Pro Display Light';
   src: asset-url('SF-Pro-Display-Light.otf')
}
