// Specific CSS for your home-page
.home-main {
  text-align: center;
}

#shapes {
  margin-top: -25%;
  animation-duration: 1s;
  animation-name: shapes;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: shapes;
}

@keyframes shapes {
    from {
        margin-top: -80%;
    }
    to {
        margin-top: -25%;
    }
}
@-webkit-keyframes shapes {
    from {
        margin-top: -80%;
    }
    to {
        margin-top: -25%;
    }
}


.shape {
  width: 40%;
  margin: 10px;
}

main h1{
  font-size: 120px;
  font-family: $title-font;
  margin-top: 1rem;

}

.start-button-container {
  width: 100%;
  position: fixed;
  bottom: 65px;
  left: 0;
  animation-duration: 1s;
  animation-name: button-up;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: button-up;
}

@keyframes button-up {
    from {
        bottom: -10px;
    }
    to {
        bottom: 65px;
    }
}

@-webkit-keyframes button-up {
    from {
        bottom: -10px;
    }
    to {
        bottom: 65px;
    }
}

.start-button-container a {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

