.house-name {
  margin-top: 3rem;
  text-align: center;
}

.graph-container{
  margin: 3rem 2rem;
  display: flex;
  justify-content: space-around;
}

.graph-element {
  text-align: center
}
.graph-element-name {
  background-color: $medium-blue;
  padding: 0 1rem;
  border-radius: 15px;
  margin-top: 0.7rem;
}

.notification-card {
  background-color: $medium-blue;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 20px;
}

.even-up-button {
  background: none;
  color: $light-sand;
  border-radius: $border-radius;
  border: none;
  border: 1px solid $light-sand;
  padding: 0.375rem 0.75rem;
  // margin-left: 2rem;
  // margin-bottom: -0.5rem;
  // padding-left: 1rem;
}

.notification-row {
  display: flex;
  justify-content: space-between;
}

.notification-row h4 {
  font-size: 20px;
  width: 150px;
}


