.dashboard {
  display: block;
}
.history {
 display: none;
}

.house-name {
  margin-top: 3rem;
  text-align: center;
}

.graph-container{
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-around;
}

.graph-element {
  text-align: center
}
.graph-element-name {
  background-color: $medium-blue;
  padding: 0 1rem;
  border-radius: 15px;
  margin-top: 0.7rem;
}

.notification-card {
  background-color: $medium-blue;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 20px;
}

.even-up-button {
  background: $medium-blue;
  color: $light-sand;
  border-radius: $border-radius;
  border: none;
  padding: 0.2rem 0.85rem;
  margin-right: 2rem;
  // margin-bottom: -0.5rem;
  // padding-left: 1rem;
}

.notification-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.notification-row h4 {
  font-size: 20px;
  width: 150px;
}

.due-date {
  opacity: 0.6;
  margin-bottom: 0;
  font-size: 14px;
}
.share-amount {
 font-size: 16px;
 text-align: right;

}

.history-icon {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}


.notifications-title {
  margin-top: 0.65rem;
  font-size:  1.25rem;
  margin-left: 2rem;
}
.tube {
  background-color: $medium-blue;
  width: 59px;
  height: 179px;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 0.7rem;
}


