.form-inputs input{
  background-color: $smooth-yellow;
  border: none;
}

.form-inputs input:focus{
  background-color: $smooth-yellow;
  border: none;
}

.form-margins{
  padding: 1rem;
  padding-bottom: 0.5rem;
}


