<%= image_tag "capital-logo.png", alt: "logo", class: 'logo-top' %>
<h1>Choose your house:</h1>

<% if @houses = current_user.houses  %>
  <ul>
    <% @houses.each do |house| %>
      <li> <%= link_to house.name, house_shares_path(house) %> </li>
    <% end %>
  </ul>
<% end %>


