<%= link_to "Log out", destroy_user_session_path, method: :delete %>

<h1>Houses</h1>

<ul>
<% @houses.each do |house| %>
  <li> <%= link_to house.name, house_path(house) %> </li>
<% end %>
</ul>

<%= link_to "Create a new House", new_house_path%>
