<div class="bottom-appbar">
  <div class="tabs">
    <div class="tab is-active tab--left">
      <i class="fas fa-bars"></i>
    </div>

    <div class="tab tab--fab">
      <div class="top">
        <div class="fab">
          <i class="fas fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="tab tab--right">
      <i class="fas fa-cog"></i>
    </div>
  </div>
</div>
