<h3 class="house-name">Edit Bill</h3>
<div class="bill-container">

  <%= render "form" %>

  <div class="mt-3">
    <%= link_to "Delete Bill",
    bill_path(@bill),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-block add-button" %>
  </div>




  <div class="mb-5 pb-5"></div>
</div>
