.logo-carousel {
  width: 150px;
  margin: 2rem;
  text-align: left;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $light-sand;
}

.carousel-inner {
  height:600px !important;
}

.carousel-item {
    position: relative;
    height:100%;
}


.carousel-div {
    margin: 1rem 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


