.round-members {
    display: flex;
    width:55px;
    height:55px;
    border-radius: 50%;
    text-align: center;
    background: $smooth-blue;
    line-height: 55px;
}

.round-members p {
  width: 55px;
  font-size: 13px;

}
