.house_choice  {
  fill: $medium-blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  // display: flex;
  // flex-wrap: wrap-reverse;
  // justify-content: space-evenly;
  margin-top: 10px;
}

.house_choice svg {
  margin-bottom: 0px;
  margin-top: 0px;
  fill: $smooth-yellow;
}


.house_choice p {
  font-family: 'SF Pro Display Light';
}

