.sticky {
  position: sticky;
  top: 0;
}

main {
  margin: 0 auto;
  width: 400px;
  color:$light-sand;
}

.button {
  border-radius: 50px;
  background: $light-sand;
  z-index: 1;
  position: relative;
  height: 60px;
  text-align: center;
  line-height: 55px;
  vertical-align: middle;
  box-shadow: 0 0 10px 0 rgba(35, 45, 59, 0.4);
}

.button p {
  color: $medium-blue;
}

.button a {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
}

.button.small {
  width: 60px;
  left: calc(50% - 30px);
  margin-top: -50px;
}


.border .button {
  height: 80px;
  border: 10px solid #e6e8e6;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

header {
  width: 100%;
  height: 80px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  border-radius: 0 0 5px 5px;
}

.small header {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0px,
    transparent 39px,
    $medium-blue 40px
  );
}

svg {
  fill: $light-sand;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.icon-left {
  position: absolute;
  left: 20%;
  bottom: 35%;
}

.icon-right {
  position: absolute;
  right: 20%;
  bottom: 35%;
}
