.card-container {
  margin: 2rem;
  background: $light-sand;
  color: $dark-blue;
  padding: 2rem;
  border-radius: 30px;
}

.card-container svg {
  margin-top: -2rem;
  padding-top: -2rem;
  margin-bottom: 2rem;
}

.card-bottom{
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.card-container a {
  color: $dark-blue;
}

.title-arrow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 1rem;
}


